<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>メシタビ</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="./common_resource/fontawesome/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <header class="clearfix">
        <h1><i class="fas fa-utensils"></i> メシタビ</h1><button class="home" onclick="location.href='./index.html'"><i
                class="fas fa-home"></i></button>
    </header>
    <div id="main-container" class="main-container">
            <div v-for="(block, blockIndex) in foodBlocks" class="food-block">
                <h2 class="food-title">{{block.foodTitle}}</h2>
                <ul class="food-items">
                    <li v-for="(item, itemIndex) in block.foodItems" v-on:click="showDetail(blockIndex, itemIndex)" class="food-item clearfix"><button class="flag"><i
                                class="fas fa-flag"></i></button><span class="food">{{ item.food }}</span><span
                            class="discription"><span class="point">・・・</span><span
                                class="locale">{{item.locale}}</span></span></li>
                </ul>
            </div>
            <div id="modal-area" class="modal-area" v-show="foodDetail.visible">
                <div v-on:click="hideDetail" id="modal-bg" class="modal-bg"></div>
                <div class="modal-wrapper">
                    <div class="modal-headder clearfix">
                        <p class="modal-title">{{foodDetail.title}}</p>
                        <button v-on:click="hideDetail" id="modal-close" class="modal-close">×</button>
                    </div>
                    <div class="food-detail">
                        <div class="food-detail-img">
                            <img v-bind:src="foodDetail.img" alt="foodDetail.title">
                        </div>
                    </div>
                    <div class="near-food-container">
                        <h3 class="near-food-title">近くのご飯</h3>
                        <p class="near-foods">{{foodDetail.nearFoodDiscription}}</p>
                    </div>
                </div>
            </div>
    </div>
    <footer>
        <button class="flag"><i class="fas fa-flag"></i><br>絞り込む</button>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>